Definiciones utilizadas en esta hoja de referencia

Definiciones utilizadas en esta hoja de referencia

**Clave primaria:**

Una clave principal es un campo en una tabla que identifica de forma única

cada registro de la tabla. En bases de datos relacionales, primarias.

Las claves se pueden utilizar como campos para unir tablas.

**Clave externa:**

Una clave foránea es un campo en una tabla que hace referencia a la

clave principal de otra tabla. En una base de datos relacional,

Una forma de unir dos mesas es conectando el extranjero.

clave de una tabla a la clave principal de otra

**Relación uno a uno:**

Las relaciones de la base de datos describen las relaciones. <span style="color: var(--vscode-foreground);">entre registros en diferentes tablas. Cuando un uno a uno&nbsp;</span>  <span style="color: var(--vscode-foreground);">existe una relación entre dos tablas, un registro dado en&nbsp;</span> <span style="color: var(--vscode-foreground);">una tabla está relacionada de manera única con exactamente un registro en el</span><span style="color: var(--vscode-foreground);">otra mesa.</span>

**Relación uno a muchos:**

En una relación de uno a muchos, un registro en una tabla puede <span style="color: var(--vscode-foreground);">estar relacionado con uno o más registros en una segunda tabla.&nbsp;</span> <span style="color: var(--vscode-foreground);">Sin embargo, un registro dado en la segunda tabla sólo será&nbsp;</span> <span style="color: var(--vscode-foreground);">relacionado con un registro en la primera tabla.</span>

**Relación de varios a varios:**

<span style="color: var(--vscode-foreground);">En una relación de varios a varios, los registros de una tabla A determinada se pueden relacionar con uno o más registros de otra tabla B ,&nbsp;</span> <span style="color: var(--vscode-foreground);">y los registros de la tabla B también pueden relacionarse con muchos registros de la tabla A.</span>

**Datos de muestra**

In [6]:
CREATE SCHEMA practica6b;

In [7]:
CREATE TABLE practica6b.Artista (
    artist_id INT PRIMARY KEY,
    nombre NVARCHAR(100)
);

In [12]:
CREATE TABLE practica6b.Album (
    album_id INT PRIMARY KEY,
    titulo NVARCHAR(200),
    artist_id INT,
    FOREIGN KEY (artist_id) REFERENCES practica6b.Artista(artist_id)
);

: 1050 (42S01): Table 'album' already exists

In [13]:
ALTER TABLE practica6b.Album
RENAME COLUMN titulo TO title;

In [14]:
ALTER TABLE practica6b.artista
RENAME COLUMN nombre TO name;

In [16]:
INSERT INTO practica6b.Artista (artist_id, name) VALUES
    (1, 'AC/DC'),
    (2, 'Aerosmith'),
    (3, 'Alanis Morissette');

In [19]:
SET FOREIGN_KEY_CHECKS = 0;

In [20]:
INSERT INTO practica6b.Album (album_id, title, artist_id) VALUES
    (1, 'For Those Who Rock', 1),
    (2, 'Dream On', 2),
    (3, 'Restless and Wild', 2),
    (4, 'Let There Be Rock', 1),
    (5, 'Rumours', 6);

**INNER JOIN**

Una combinación interna entre dos tablas <span style="color: var(--vscode-foreground);">devuelve solo los registros en los que una unión&nbsp;</span>  <span style="color: var(--vscode-foreground);">campo, como una clave, encuentra una coincidencia en&nbsp;</span>  <span style="color: var(--vscode-foreground);">Ambas tablas</span>

![]()<span style="color: var(--vscode-foreground);"><br></span>

In [26]:
SELECT art.artist_id,art.name,alb.title,album_id
FROM artista AS art 
INNER JOIN album AS alb 
ON art.artist_id = alb.artist_id;

artist_id,name,title,album_id
1,AC/DC,For Those Who Rock,1
1,AC/DC,Let There Be Rock,4
2,Aerosmith,Dream On,2
2,Aerosmith,Restless and Wild,3

**INNER JOIN with USING**

In [27]:
SELECT art.artist_id,art.name,alb.title,album_id
FROM artista AS art 
INNER JOIN album AS alb 
USING (artist_id);

artist_id,name,title,album_id
1,AC/DC,For Those Who Rock,1
1,AC/DC,Let There Be Rock,4
2,Aerosmith,Dream On,2
2,Aerosmith,Restless and Wild,3

**SELF JOIN** 

Las autouniones se utilizan para comparar los valores de una tabla con otros valores de la misma tabla mediante la unión de diferentes partes <span style="color: var(--vscode-foreground);">de una mesa juntos.</span>

In [ ]:
SELECT alb1.artist_id,
       alb1.title AS alb1_litle,
       alb1.title AS alb2_title
FROM album AS alb1
INNER JOIN album AS alb2