# Práctica 9 -  Agregaciones

## Se tiene que entregar un informe por cliente donde entregues la siguiente información:

### **1. ¿Cuál cliente realizó la compra máxima en el año 2018?**

In [40]:
SELECT v.ID_Cliente, c.Nombre, MAX(v.Venta) AS MaxVenta
FROM ventas v
INNER JOIN clientes c ON v.ID_Cliente = c.ID_Cliente
WHERE Fecha_venta LIKE '%18'
GROUP BY c.Nombre,v.ID_Cliente
LIMIT 1;

ID_Cliente,Nombre,MaxVenta
8,Too & A,2977318

### **2. ¿Cuál fue el pago menor que recibimos en el año 2018?**

In [15]:
SELECT id_pago,fecha_pago, MIN(pago) AS MinPago
FROM pagos
WHERE fecha_pago LIKE '%2018'
GROUP BY id_pago, fecha_pago
ORDER BY MinPago ASC
LIMIT 1;

id_pago,fecha_pago,MinPago
25676,20/11/2018,7441

### **3. ¿Cuántas ventas se lograron en el 2do semestre del año 2018?**

In [19]:
SELECT COUNT(id_pago) AS NumVtas,SUM(pago) AS TotalVtas 
FROM pagos
WHERE fecha_pago BETWEEN '01-07-2018' AND '31-12-2018';

NumVtas,TotalVtas
26165,377894134327

# **Resumir on GROUP BY**

## <span style="color: var(--vscode-foreground);">Genera una vista para entregar el informe que contenga:</span>

### **4. Las ventas por vendendor**

In [7]:
SELECT ve.ID_Vendedor, ve.Nombre, SUM(v.Venta) AS TotalVtas
FROM ventas v
JOIN vendedor ve ON v.ID_Vendedor = ve.ID_Vendedor
GROUP BY ve.ID_Vendedor, ve.Nombre
ORDER BY ve.Nombre;

ID_Vendedor,Nombre,TotalVtas
30,ADRIAN,89162037
14,ALEJANDRO,69740587
29,ALVARO,69379999
19,ANA,88389747
40,ANA BELEN,91249412
27,ANTONIA,88585429
1,ANTONIO,95150197
12,CARLOS,86118744
20,CRISTINA,97718312
9,DANIEL,94582814
38,DANIELA,99072132
5,DAVID,92304582
28,DOLORES,81159015
46,EDUARDO,84003234
34,EVA MARIA,80624293
23,FRANCISCA,72033306
4,FRANCISCO,74757044
11,FRANCISCO JAVIER,65399987
35,INES,68101597
49,JAIME,69999373
8,JAVIER,66169369
13,JESUS,78039593
43,JOAQUIN,85439744
3,JOSE,79989761
7,JOSE ANTONIO,69182973
10,JOSE LUIS,80822678
6,JUAN,97930137
31,JUAN JOSE,94260376
42,JUAN MANUEL,87253941
17,LAURA,65294584
39,LORENA,85708566
24,LUCIA,76008590
2,MANUEL,89724463
22,MARIA ANGELES,70997832
16,MARIA DOLORES,66896671
41,MARIA ELENA,108125861
25,MARIA ISABEL,75193081
26,MARIA JOSE,88292608
37,MARIA ROSA,75078979
18,MARIA TERESA,70605142
33,MARIA VICTORIA,78816720
47,MARIO,85097744
21,MARTA,76810389
15,MIGUEL,107346476
36,MIRIAM,74039452
44,SANTIAGO,87574090
45,VICTOR,161068320

### **5. Ventas por producto**

In [10]:
SELECT v.ID_Producto,p.Producto,SUM(v.Venta) AS TtalVenPro
FROM ventas v 
JOIN producto p ON p.ID_Producto = v.ID_Producto
GROUP BY v.ID_Producto,p.Producto
ORDER BY p.Producto;

ID_Producto,Producto,TtalVenPro
6,Consultorio,596576595
5,Isla,617630579
3,Local,558719228
4,Nave,1061183896
2,Oficina,564420826
7,Remates,36759596
1,Terreno,577282718

### **6. Resumen de compras por cliente en 2017**

In [21]:
SELECT c.Nombre, SUM(v.Venta) AS TotalCompras
FROM ventas v
INNER JOIN clientes c ON v.ID_Cliente = c.ID_Cliente
WHERE LEFT(Fecha_venta, 2) = '17'
GROUP BY c.Nombre;

Nombre,TotalCompras
Honduland,16715098
Mart B & C,22587913
Bienestar Land,20057540
Tierra y Paz,7083835
Bienes de Occidente,10342840
JKP Asesores,9237873
Too & A,13114909
Pacifico Norte & CO,13981369
The LandLord,16174184
Agora e Tudo MM,17216209

# **Having**

## **Tomando en cuenta el ejercicio anterior:**

### **7. Resumen de compras por cliente en 2017 que hayan sido mayores a 150000**

In [23]:
SELECT c.Nombre, SUM(v.Venta) AS TotalCompras
FROM ventas v
INNER JOIN clientes c ON v.ID_Cliente = c.ID_Cliente
WHERE LEFT(Fecha_venta, 2) = '17'
GROUP BY c.Nombre
HAVING SUM(v.Venta) > 150000;

Nombre,TotalCompras
Honduland,16715098
Mart B & C,22587913
Bienestar Land,20057540
Tierra y Paz,7083835
Bienes de Occidente,10342840
JKP Asesores,9237873
Too & A,13114909
Pacifico Norte & CO,13981369
The LandLord,16174184
Agora e Tudo MM,17216209

# **Extra**

### **8. Proporcione la lista de los clientes morosos**

In [32]:
SELECT c.Nombre,
       SUM(v.Venta) AS TotalVentas,
       SUM(p.Pago) AS TotalPagos,
       SUM(v.Venta) - SUM(p.Pago) AS MontoPendiente
FROM Clientes c
LEFT JOIN Ventas v ON c.ID_Cliente = v.ID_Cliente
LEFT JOIN Pagos p ON v.ID_Venta = p.ID_Venta
GROUP BY c.Nombre
HAVING SUM(v.Venta) > SUM(p.Pago);