# Practica 10

## Operador IN

### Crea un subquery para generar una vista con:

**1 Los vendedores que no vendieron en 2018**

In [3]:
SELECT v.Nombre
FROM vendedor AS v
WHERE v.ID_Vendedor NOT IN (
    SELECT ve.ID_Vendedor
    FROM ventas AS ve
    WHERE YEAR(ve.fecha_nueva) = 2018
);

Nombre
ROBERTO

**2 Productos que no se vendieron en marzo del 2017**

In [7]:
SELECT p.Producto
FROM producto AS p
WHERE p.id_producto NOT IN (
    SELECT ve.id_producto
    FROM ventas AS ve
    WHERE YEAR(ve.fecha_nueva) = 2017 AND MONTH(ve.fecha_nueva) = 3
);

Producto
Remates

**3. Clientes que compraron propiedas de remates Bancarios en el primer cuarto de 2016**

In [8]:
SELECT c.Nombre
FROM clientes AS c
JOIN ventas AS v ON c.ID_Cliente = v.ID_Cliente
JOIN producto AS p ON v.ID_Producto = p.ID_Producto
WHERE v.fecha_nueva >= '2016-01-01'
AND v.fecha_nueva <= '2016-03-31'
AND p.Producto = 'Remates'
GROUP BY c.Nombre;

Nombre
Tierra y Paz
The LandLord
Mart B & C
Agora e Tudo MM
Bienestar Land
JKP Asesores

In [3]:
ALTER TABLE ventas
ADD fecha_nueva DATE;

In [5]:
UPDATE ventas
SET fecha_nueva = STR_TO_DATE(Fecha_venta, '%d-%b-%y');

In [8]:
UPDATE ventas
SET fecha_nueva = STR_TO_DATE(Fecha_venta, '%d-%b-%y');


UPDATE ventas
SET fecha_nueva = DATE_FORMAT(fecha_nueva, '%d-%m-%Y');

: 1292 (22007): Incorrect date value: '29-12-2015' for column 'fecha_nueva' at row 1

### <span style="font-size: 16.38px;">Uso de ALL &amp; ANY</span>

### <span style="font-size: 16.38px;">Genera una vista para entregar el informe que contenga:</span>

**4. Todas las ventas superiores a la venta más cara de una oficina**

In [19]:
SELECT ID_Venta,ID_Producto, Venta
FROM ventas
WHERE Venta > ALL (SELECT Venta FROM ventas WHERE ID_Producto = 2);

ID_Venta,ID_Producto,Venta
13,1,2937300
873,5,2923155
2654,6,2909412
2697,3,2977318
3126,3,2902284
3268,5,2908500
3289,1,2914416

**5. Cualquier venta mayor al de una oficina**

In [22]:
SELECT ID_Venta,ID_Producto, Venta
FROM ventas
WHERE Venta > ALL (SELECT Venta FROM ventas WHERE ID_Producto = 2)
   AND ID_Producto IN (2, 3);

ID_Venta,ID_Producto,Venta
2697,3,2977318
3126,3,2902284

## EXISTS

## Buscaremos a todos los vendedores que no vendieron usando EXISTS y el uso de un query correlacionado:

**6. Todos los vendedores que no han vendido nada**

In [85]:
SELECT v.Nombre
FROM vendedor v
WHERE NOT EXISTS (
    SELECT *
    FROM ventas ve
    WHERE ve.ID_Vendedor = v.ID_Vendedor
);

Nombre
ROBERTO

## Subqueries en SELECT

## Crea un subquery en SELECT para:

**7. Obtener el % que representa cada venta del total por cliente**

In [29]:
SELECT
    c.Nombre AS Nombre_Cliente,
    SUM(v.Venta) AS Total_Ventas,
    (SUM(v.Venta) / SUM(SUM(v.Venta)) OVER ()) * 100 AS Porcentaje_del_Total
FROM
    ventas v
JOIN
    clientes c ON v.ID_Cliente = c.ID_Cliente
GROUP BY
    c.Nombre;

Nombre_Cliente,Total_Ventas,Porcentaje_del_Total
Tierra y Paz,396773900,9.8883
Mart B & C,388887215,9.6917
Bienestar Land,398732515,9.9371
JKP Asesores,406166520,10.1223
Too & A,384384462,9.5795
Pacifico Norte & CO,412591534,10.2825
The LandLord,396058173,9.8704
Bienes de Occidente,426258240,10.6231
Honduland,399943647,9.9673
Agora e Tudo MM,402777232,10.0379

- `SUM(v.Venta)` calcula el total de ventas para cada cliente.
- `SUM(SUM(v.Venta)) OVER ()` calcula el total general de ventas.
- `(SUM(v.Venta) / SUM(SUM(v.Venta)) OVER ()) * 100` calcula el porcentaje del total para cada cliente.